{% load static %}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset = "UTF-8">
        <title>음식점</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href = "{% static 'first/styles.css' %}"/>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script> $('.carousel').carousel({ interval: 2000  }) </script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Dokdo&family=Gamja+Flower&display=swap" rel="stylesheet">
    </head>
    <body>





        <div class = "container">
            <div class = "row" style="margin-top:0 auto;">

                <div class = 'col-1'>
                    <a class="nav-home" href="/main">
                        <img src={% static 'first/logo_home2.jpg' %} alt="" width="40" height="40">
                    </a>
                </div>

                <div class = "col-10"></div>
                <div class = 'col-1'>
                    <a class="nav-upload" href="/main/place">
                        <img src={% static 'first/logo_upload3.jpg' %} alt="" width="40" height="40">
                    </a>
                </div>            

            
            </div>

    

            <div class = "row">
                <div class = 'col'>
                    <a href="/main">
                    <img id = "banner" src={% static 'first/logo_banner.jpg' %}>
                    </a>
                </div>

            </div>
            {% block content %}
            {% endblock %}




            <div class = "container">
                <div class = "row" style="margin-top:0 auto;">
                    <div class = "col-5"></div>
                    <div class = "col-6">
                    <div class = "footer">
                         <img src={% static 'first/insta_teg.jpg' %} alt="" width="100" height="24">
                     </div>
                 </div>



    </div>
    </body>
</html>