{% extends 'first/base.html' %} 
{% load static %}
{% block content %}
<div class = "container" style="max-width: 1024px;">
    {% for item in items %}
        <div class = "row restaurant-item" style="margin:20px auto;">
        <div class = "col-sm-12">
            <a href ="{% url 'upload' id=item.id %}">
            <div class = "card border-secondary">
                <div class = "card-body">
                    
                    <h5 class = "card-title">
                        {{ item.place_name }}
                    </h5>

                </div>
            </div>
        </a>
        </div>
        </div>
    {% endfor %}

    <a href ="{% url 'upload_place' %}"> 새로운장소</a>  
</div>
{% endblock %}