@font-face {
  font-family: "kra";
  src: url("/static/Krabougja.ttf") format("truetype");
}
@font-face {
  font-family: "kra-korean";
  src: url("/static/korean_font.ttf") format("truetype");
}
.header {
  display: flex;
  justify-content: center;
  max-width: 1024px;
  width: 100%;
}
#banner {
  width: 100%;
  height: 100%;
}
.main_image_cover {
  background-color: #ff0101aa;
  position: relative;
}
.place_text {
  font-size: 50px;
  font-family: kra-korean;
}
#pagenation-main {
  font-size: 10px;
}
